@charset "utf-8";
body{
    margin: 0;
    text-align: center;
    justify-content: center;
}
table th,td
{
  border: 1px solid black;
 
}
table
{
    margin-top: 20px;
    margin-bottom: 20px;
    table-layout: fixed; 
    width: 600px;
    border-collapse: collapse;
    background-color:rgb(250, 249, 177);
    display:inline-table;
}