@charset "utf-8";
body{
    margin: 0;
    text-align: left;
    justify-content: center;
    padding-left: 25%;
}
table th
{
  border: 2px solid black;
  font-family: 'Colonna MT';
  text-align: left;
  font-size: larger;
  color: black;
}
table
{
    margin-top: 20px;
    margin-bottom: 20px;
    table-layout: fixed; 
    width: 600px;
    border-collapse: collapse;
    background-color: lightseagreen;
    display:inline-table;
    
}
table td{
  border: 2px solid black;
  text-align: center;
  font-family: 'Modern No. 20';
  color: white;
}